<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todolist_detail.name }}</h1>
            <p><a href="{% url 'todo_list_update' todolist_detail.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todolist_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                <tbody>
                    {% for things in todolist_detail.items.all %}
                    <tr>
                        <td>{{ things.task }}</td>
                        <td>{{ things.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
